<!DOCTYPE html>
<html>
<head>
    <title>
        <% title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% for (x in arr) { %>
<h1><%= x %></h1>
<% } %>
<form method="post">
    <input type="text" name="name">
    <input type="text" name="phone">
    <input type="text" name="email">
    <input type="submit" value="Submit">
</form>
</body>
</html>
